<div class="container"><div class="col-md-8 col-md-offset-2"><app-meal-entry></app-meal-entry></div>

  <div class="row">
    <app-sign-up></app-sign-up>
    <app-macro-entry></app-macro-entry>
    <div class="col-md-4 col-md-offset-4"><ul class="list-group" *ngFor="let meal of meals">
      <app-meal [meal]="meal"></app-meal></ul></div>

  </div>
  <button class="btn-primary btn" (click)="onLoad()">Load Meals</button>
  <button class="btn btn-primary" (click)="onSave()">Save Meals</button>
{{trainingMacros.trainingMacros.carbohydrates}}
  {{trainingMacros.trainingMacros.fat}}
  {{trainingMacros.trainingMacros.protein}}

  <h1>History</h1>
  <div *ngFor="let event of history">
    {{event.toString()}}
</div>
</div>

